<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SEIIExamples</display-name>
	<welcome-file-list>
	    <welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
  	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CarServlet</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.CarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarServlet</servlet-name>
		<url-pattern>/car</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReservationServlet</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.ReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReservationServlet</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserSignup</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.UserSignup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSignup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.polimi.seiiexamples.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>